# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.cache
.pytest_cache/
pytestdebug.log
tests/baseline/
.tox/
*.ini

# VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.VSCodeCounter/
.history/
*.vsix

# Mac files
.DS_Store

# Project-specific
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py